
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.prod
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Fichiers sensibles production
.env.prod
docker/secrets/
*.pem
*.key
*.crt

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
