{% extends 'base.html.twig' %}

{% block title %}A propos - TalChif{% endblock %}

{% block body %}
<section class="section">
    <h1 class="section-title">A propos de nous</h1>
    <div class="card">
        <p>TalChif est une plateforme de billetterie événementielle conçue pour simplifier l’achat, la vente et la validation des billets au Tchad.</p>
    </div>
</section>
{% endblock %}
